{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin - Event Management</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow">
        <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold text-gray-800">Event Admin</h1>
            <ul class="flex justify-evenly items-center space-x-4 text-gray-700 font-medium">
                <li><a href="{% url 'dashboard' %}" class="hover:text-blue-600 transition">Event-Dashboard</a></li>
                <li><a href="{% url 'create-group' %}" class="hover:text-blue-600 transition">Create Group</a></li>
                <li><a href="{% url 'group-list' %}" class="hover:text-blue-600 transition">All Groups</a></li>
                <li><a href="{% url 'sign-up' %}" class="hover:text-blue-600 transition">Add User</a></li>
                <li>
                   {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-red-100 hover:text-black">Logout</button>
                        <a href="{% url 'profile' %}" class="text-blue-600 hover:underline border-2 py-2 px-3 rounded-md border-green-300">View Profile</a>
                    </form>
                    {% else %}
                        <a href="{% url 'sign-in' %}" class="py-2 px-4 bg-green-500 text-white rounded-lg hover:bg-green-600">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
